#####################################################
# Large files that are too big to be store on GitHub
#####################################################
LargeFiles/

#####################################################
# Temporary files that don't need tracked
#####################################################
*.rpy 
*.asv